@import "./styles/responsive.css";

/* Минимальный CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #4295e4;
  --color-icon-muted: #6b7a8c;
  --color-icon-heart: #e85d7a;
  --color-icon-star: #f5b301;
}

html,
body {
  height: 100%;
  font-family: SF Pro Text;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button,
input,
textarea,
select {
  font: inherit;
  background: none;
  border: none;
}
